*{
    margin: 0;
}

@media (max-width: 600px) {
    #main-header {
      position: absolute;
      top: 0;
      width: 100%;
      margin: 0;
      max-width: 100%;
      max-height: 400px;
    }
}

body{
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #f7f7f7;
}
#navbar a{
    text-decoration: none;
    color: black;
}

header h1{
    text-align: center;
}
#navbar li{
    font-size: 22px;
    padding: 5px;
    margin-top: 15px;
    border-bottom: 1px solid black;
}
#navbar ul{
    list-style-type: none;
}

header{
    position: fixed;
    
}

#main-doc{
    position: absolute;
    margin-left: 400px;
}

h1{
    font-weight: normal;
}

.main-article{
    padding: 20px;
}

